<%# FIXME: DBデータ実装まで一時的に each でダミー画像を表示 %>
<% 1.upto 4 do |i| %>
  <div class="col-sm-3 col-xs-12">
    <div class="thumbnail">
      <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
      <span class="meta">2016/9/16</span>
      <a href="blog_single_left_sidebar.html"><%= image_tag("home/articles/articles-0#{i}.jpg", :alt => "article-image") %></a>
      <div class="caption">
        <p>記事本文（100文字）</p>
      </div>
    </div>
  </div>
<% end %>