<%# FIXME: DBデータ実装まで一時的に each でダミー画像を表示 %>
<% 1.upto 3 do |i| %>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='single_product.html';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-0#{i}.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View <%= %w(Shirts Bags Mugs)[i-1] %></a></div>
      </div>
      <div class="caption">
        <h4><%= %w(Shirts Bags Mugs)[i-1] %></h4>
      </div>
    </div>
  </div>
<% end %>