<% provide(:title, 'Single Product') %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= yield(:title) %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_root_path %>
          </li>
          <li class="active"><%= yield(:title) %></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" id="image-carousel">
                <% @product.images.each_with_index do |image, i| %>
                  <div class="item<%= ' active' if i.zero? %>" data-thumb="<%= i %>">
                    <%# 商品画像 (非ヴァリアント) %>
                    <%= image_tag image.attachment.url(:large), id: 'variant_image_0' %>
                    <%# 商品画像 (ヴァリアント、ロード時は非表示 %>
                    <% if @product.has_variants? %>
                      <% @product.variant_images.where(position: i + 1).each do |variant_image| %>
                        <%= image_tag variant_image.attachment.url(:large), id: "variant_image_#{variant_image.viewable_id}", style: 'display: none;' %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner" id="thumbnail-carousel">
                  <% @product.images.each_with_index do |thumbnail, i| %>
                    <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
                      <%# サムネイル画像 (非ヴァリアント) %>
                      <%= image_tag thumbnail.attachment.url(:small), id: 'variant_thumb_0' %>
                      <%# サムネイル画像 (ヴァリアント、ロード時は非表示) %>
                      <% if @product.has_variants? %>
                        <% @product.variant_images.where(position: i + 1).each do |variant_thumbnail| %>
                          <%= image_tag variant_thumbnail.attachment.url(:small), id: "variant_thumb_#{variant_thumbnail.viewable_id}", style: 'display: none;' %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">

              <li>
                <%= link_to potepan_category_path(@product.taxons.first().root.id) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
              <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>Share This</a></li> -->
            </ul>
            <h2><%= @product.name %></h2>
            <h3 id="prices">
              <%# ヴァリアントを持っている場合、ロード時は商品デフォルトの価格を表示し、ヴァリアント選択時にJSで表示切り替え %>
              <% if @product.has_variants? %>
                <% product_prices = @product.prices.where(variant_id: Spree::Variant.where(product_id: @product.id).where(position: @product.prices.minimum(:position))) %>
                <span id="product_prices">
                  <%= @product.display_price %>
                </span>
                <% @product.variants.each do |variant| %>
                  <span id="variant_prices_<%= variant.id %>" style="display: none;">
                    <%= variant.display_price %>
                  </span>
                <% end %>
              <% else %>
                <%= @product.display_price %>
              <% end %>
            </h3>
            <p><%= @product.description %></p>
            <%# ヴァリアント存在時はセレクトボックスを表示 %>
            <% if @product.has_variants? %>
              <span class="quick-drop">
                <%= select_tag 'variants', options_for_select(variants_array(@product), @product.self_or_variant_with_option_value(@color_id).id), class: 'select-drop' %> 
              </span>
            <% end %>
            <span class="quick-drop resizeWidth">
              <select name="quantity" id="quantity" class="select-drop">
              <!--   <option value="0">Qty</option> -->
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <% if @product.product_properties.present? %>
              <%# 表示するプロパティ数の上限を指定して切り出し %>
              <% product_properties = @product.product_properties[0, Potepan::ProductsController::MAX_PRODUCT_PROPERTIES] %>
              <div class="tabArea">
                <ul class="nav nav-tabs">
                  <%# プロパティ一覧 %>
                  <% product_properties.each_with_index do |product_property, i| %>
                    <li<% if i == 0 %> class="active"<% end %>><a data-toggle="tab" href="#<%= attr_name(product_property.property.presentation) %>"><%= product_property.property.presentation %></a></li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <%# プロパティ %>
                  <% product_properties.each_with_index do |product_property, i| %>
                    <div id="<%= attr_name(product_property.property.presentation) %>" class="tab-pane fade<% if i == 0 %> in active<% end %>">
                      <p><%= product_property.value %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'related_product', collection: @related_products %>
    </div>
  </div>
</section>