<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% @taxonomies.each do |taxonomy| %>
            <% collapse_name = "taxonomy-#{taxonomy.id}" %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#<%= collapse_name %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
              <ul id="<%= collapse_name %>" class="collapse collapseItem">
                <% taxonomy.taxons.leaves.each do |taxon| %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id, type: @type) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %> <span>(<%= taxon.products.count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default priceRange">
    <div class="panel-heading">値段から探す</div>
    <div class="panel-body clearfix">
      <div class="price-slider-inner">
        <span class="amount-wrapper">
          <input type="text" id="price-amount-1" readonly>
          <strong>-</strong>
          <input type="text" id="price-amount-2" readonly>
        </span>
        <div id="price-range"></div>
      </div>
      <input class="btn btn-default" type="submit" value="絞り込む">
      <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
    </div>
  </div>
  <%# 当該カテゴリに色付きの Variant をもつ商品が存在したら、「色から探す」を表示 %>
  <% if display_color_search? %>
    <div class="panel panel-default filterNormal">
      <div class="panel-heading">色から探す</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @colors.each do |color| %>
            <%# 当該色の Variant をもつ商品が存在したら、色名を表示 %>
            <% if color.has_product_with?(@taxon) %>
              <li>
                <%= link_to potepan_category_path(@taxon.id, type: @type, color: color.id) do %>
                  <%= color.name %><span>(<%= color.num_of_products(@taxon) %>)</span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>