<% provide(:title, @taxon.name) %>

<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= @taxon.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_root_path %>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active"><%= @taxon.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <!-- SIDE BAR -->
      <%= render 'potepan/taxons/side_bar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <select name="guiest_id1" id="guiest_id1" class="select-drop">
              <option value="0">並び替え</option>
              <option value="1">人気順</option>
              <option value="2">安い順</option>
              <option value="3">新着順</option>
              <option value="3">高い順</option>
            </select>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <%= button_tag class: "btn btn-default#{' active' if @type == 'grid'}", onclick: "window.location.href='#{potepan_category_path(@taxon.id, type: 'grid', color: @color_id)}'" do %>
                <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
              <% end %>
              <%= button_tag class: "btn btn-default#{' active' if @type == 'list'}", onclick: "window.location.href='#{potepan_category_path(@taxon.id, type: 'list', color: @color_id)}'" do %>
                <i class="fa fa-th" aria-hidden="true"></i><span>List</span>
              <% end %>
            </div>
          </div>
        </div>
        <% if @type == 'grid' %>
          <div class="row" id="grid-box">
            <%= render partial: 'grid_product', collection: @products, as: :product %>
          </div>
        <% end %>
        <% if @type == 'list' %>
          <div class="row productListSingle" id="list-box">
            <%= render partial: 'list_product', collection: @products, as: :product %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>