<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head/head_tag' %>
  </head>

  <body>
    <div class="main-wrapper">

      <!-- HEADER -->
      <div class="header clearfix">

        <!-- TOPBAR -->
        <%= render 'layouts/main_wrapper/header/topbar' %>

        <!-- NAVBAR -->
        <%= render 'layouts/main_wrapper/header/navbar' %>

      </div>

      <%= yield %>

      <!-- FOOTER -->
      <%= render 'layouts/main_wrapper/footer' %>

      <!-- COPY RIGHT -->
      <%= render 'layouts/main_wrapper/copy_right' %>
    </div>

    <!-- LOGIN MODAL -->
    <%= render 'layouts/modals/login_modal' %>

    <!-- SIGN UP MODAL -->
    <%= render 'layouts/modals/sign_up_modal' %>

    <!-- PORDUCT QUICK VIEW MODAL -->
    <%= render 'layouts/modals/product_quick_view_modal' %>

    <!-- JAVASCRIPT -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
